body {
	margin: 0;
	padding: 0;
	background-color: #eee;
	width: 100%;
	overflow-x: hidden;
	font-family: 'Lora', serif;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.body {
	width: 80em;
	max-width: 100%;
	margin: auto;
	height: auto;
	position: relative;
}

.line {
	width: 80%;
	margin: auto;
	height: 2em;
	border-bottom: 1px solid #aaa;
	clear: both;
}

.main.large {
	width: 100%;
}

section.main.title {
	position: relative;
	background-color: #eee;
	height: auto;
	text-align: left;
}

section.main.title .content {
	margin: auto;
	text-align: left;
	width: 100%;
	padding: 0 1em;
}

section.main.title h1 {
	font-size: 2em;
	padding: 0.5em;
	padding-bottom: 0;
	margin: 0;
	display: inline-block;
	text-align: left;
}

section.main.title .info {
	width: 40%;
	display: inline-block;
	text-align: left;
	margin: 0;
	padding-top: 1em;
	float: right;
	padding-right: 2em;
}

section.main.title .info a {
	text-decoration: none;
}

section.main.title .info a:hover {
	text-decoration: underline;
}

section.main.title .social {
	display: inline-block;
}

section.main.title .social img {
	height: 2em;
}

section.main.title .contact {
	padding-bottom: 1em;
	padding-left: 0.35em;
	text-align: left;
	display: inline-block;
}

section.main.title span {
	clear: both;
	display: block;
}

section.main.title span a {
	color: black;
}

header.main {
	overflow: hidden;
	max-height: 20em;
	height: auto;
	border-bottom: 6px solid #5781C2;
}

header.main img {
	width: 100%;
	height: auto;
	margin-bottom: -6px;
}

.about {
	background-color: #eee;
	padding: 1em 2em;
	padding-top: 0;
}

.about h2 {
	display: block;
}

.about p {
	width: 100%;
}

.about img {
	float: right;
	width: 40%;
	margin-top: -3em;
	padding: 0.5em;
	background-color: white;
	border: 1px solid #aaa;
	margin-left: 1em;
	margin-bottom: 1em;
	border-radius: 0.25em;
}

@media (max-width: 600px) {
	.about img {
		width: 100%;
	}
}

@media (max-width: 800px) {
	.about img {
		margin-top: 0;
	}
	section.main.title .info {
		float: none;
		display: block;
		width: 100%;
		margin-left: 1em;
	}
}

.artwork {
	position: relative;
	padding: 1em 0;
	padding-top: 1em;
	background-color: #eee;
}

.artwork .container {
	width: 100%;
	border: none;
	padding: 0;
	-webkit-column-count: 1;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 1;
	-moz-column-gap: 10px;
	column-count: 1;
	column-gap: 10px;
	column-fill: auto;
	clear: both;
}

.artwork h2 {
	padding-left: 1.5em;
	width: 100%;
	clear: both;
}

.art {
	cursor: pointer;
	display: inline-block;
	background-color: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 0.75em 2em;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	opacity: 1;
	height: auto;
}

.container:hover .art img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
}

.container:hover .art:hover img {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}

.art img {
	width: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.container .art img {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.art:hover img {
	border-radius: 1.5em;
}

@media (min-width: 600px) {
	.artwork .container {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media (min-width: 1000px) {
	.artwork .container {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

footer.main {
	margin-top: -2em;
	background-color: #111;
	color: rgb(236, 244, 250);
	text-align: center;
	padding: 0;
	height: 3.5em;
	position: relative;
}

footer.main .content {
	top: 0em;
	padding: 0;
	margin: 0;
	position: relative;
	max-width: 100%;
	width: 80em;
	margin: auto;
	height: 100%;
}

footer.main .contact {
	margin: 1em;
	padding-top: 1em;
}

footer a {
	color: rgb(236, 244, 250);
}

footer a:hover {
	text-decoration: none;
}

footer.main .social {
	position: absolute;
	top: 0;
	right: 1em;
}

footer.main .social .facebook {
	background-color: rgb(59, 87, 157);
	margin: 0;
	padding: 0;
	height: 2em;
}

footer.main .social .facebook:hover img {
	top: 1em;
}

footer.main .social img {
	height: 2em;
	text-align: right;
}

footer.main .author, footer.main .copyright {
	position:absolute;
	bottom: 2.5em;
	left: 0;
	right: 0;
	font-size: 0.75em;
}

footer.main .copyright {
	bottom: 1em;
}