body {
	margin: 0;
	padding: 0;
	background-color: #ddd;
	overflow-x:hidden;
	
	font-family: 'Arvo', serif;
	font-weight: 100;
	max-width: 100%;
}

p, li {
	font-size: 1em;
}

a {
	color: #22408c;
}
a:hover {
	text-decoration: none;
}

h1 {
	text-align: center;
}

.backToTop {
	overflow: hidden;
	position: fixed;
	bottom: 1em;
	right: 1em;
	width: 0;
	height: 0;
	text-align: center;
	background-color: #19a422;
	border-radius: 3em;
	z-index: 3;
	cursor: pointer;

	transition: all 0.25s;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-ms-transition: all 0.25s;
	-o-transition: all 0.25s;

	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);

	 -webkit-box-shadow: rgba(0,0,0,0.5) 0px 0 8px;
	-moz-box-shadow: rgba(0,0,0,0.5) 0 0 8px;
	box-shadow: rgba(0,0,0,0.5) 0 0 8px;
}
.backToTop span {
	width: 75%;
	position: absolute;
	left: 50%;
	margin-left: -37.5%;

	font-size: 1em;
	color: #fff;
	display: inline-block;
	transform:scale(2.5,1); /* W3C */
    -webkit-transform:scale(2.5,1); /* Safari and Chrome */
    -moz-transform:scale(2.5,1); /* Firefox */
    -ms-transform:scale(2.5,1); /* IE 9 */
    -o-transform:scale(2.5,1); /* Opera */
    top: 22%;
}

.pad {
	max-width: 30em;
	margin: auto;
}

@media(min-width: 600px) {
	.pad {
		max-width: 80em !important;
	}
}

header.main {
	position: relative;
	height: 90%;
	min-height: 18em;
	background-color: #ddd;
	overflow: hidden;
	border-bottom: 0.5em solid #22408c;
}

header.main a {
	font-weight: bold;
}

section.image {
	border-top: 0.5em solid black;
	border-bottom: 0.5em solid black;
}

header.main .backgroundContainer {
	position: absolute;
	width: 100%;
	height: 100%;
}

header.main .background {
	position: absolute;
	bottom: 0;
	z-index: 0;
	width: 100%;
	min-height: 100%;
}
header.main .background img {
	position: absolute;
	bottom: 0;
	width: 100%;
}

header.main .cover {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(50, 50, 50, 0.75);
}

header.main .nav {
	position: relative;
    top: 1em;

	z-index: 2;
	width: 100%;
	height: auto;
	vertical-align: center;
	text-align: center;
	margin: auto;
}

header.main .nav a {
	padding: 0.5em 1em;
	color: #ddd;
	text-decoration: none;
}

header.main .nav a:hover {
	color: white;
}

header.main .title {
	position: relative;
    top: 30%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);

	z-index: 2;
	width: 30em;

	max-width: 100%;
	height: auto;
	vertical-align: center;
	text-align: center;
	margin: auto;
	margin-top: 4em;
	color: #eee;
}

header.main .title .pad {
	padding-top: 0;
	padding-bottom: 0;
}

.more {
	font-size: 2em;
	position: absolute;
    left: -100%;
    right: -100%;
    bottom: 1em;

	z-index: 2;
	height: auto;
	text-align: center;
	margin: auto;

	animation-name: moreAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	-webkit-animation-name: moreAnimation;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.more a {
	color: #d72;
	text-decoration: none;

	display:inline-block;
    transform:scale(2.5,1); /* W3C */
    -webkit-transform:scale(2.5,1); /* Safari and Chrome */
    -moz-transform:scale(2.5,1); /* Firefox */
    -ms-transform:scale(2.5,1); /* IE 9 */
    -o-transform:scale(2.5,1); /* Opera */
}

.more a:hover {
	color: #f92;
}

@keyframes moreAnimation {
    0%   {bottom: 1em;}
    50%  {bottom: 0.75em;}
    100%   {bottom: 1em;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes moreAnimation {
    0%   {bottom: 1em;}
    50%  {bottom: 0.75em;}
    100%   {bottom: 1em;}
}


section.main {
	padding: 2em 0;
}

section.main h3 {
	padding: 0;
}

section.main h3 span {
	display: inline-block;
	padding-left: 0.5em;
	padding-top: 0.25em;
}

section.main h3 img {
	float: left;
	height: 2em;
}

section.image {
	position: relative;
	height: 5em;
	overflow: hidden;
}

@media(min-width: 600px) {
	section.image {
		height: 15em;
	}
}

section.image .parallax {
	width: 100%;
	position: absolute;
	top: -100%;
	bottom: -100%;
	left: 0;
	right: 0;
	margin: auto;
}

.pad .left .profileImg {
	border-radius: 0.25em;
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
	width: 100%;
}

@media(min-width: 15em) {
	.pad .left .profileImg {
		max-width: 10em;
	}
}

.pad .left {
	margin: 0;
	padding: 0;
	width: 100%;
	display: inline-block;
	vertical-align: top;
}

.pad .right {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	display: inline-block;
	vertical-align: top;
}

@media(min-width: 600px) {
	.pad .left {
		margin: 0;
		padding: 0;
		width: 45%;
		display: inline-block;
		vertical-align: top;
	}

	.pad .right {
		position: relative;
		margin: 0;
		padding: 0;
		width: 45%;
		display: inline-block;
		vertical-align: top;
		float: right;
	}
}

.separator {
	width: 60em;
	max-width: 100%;
	margin: auto;
	border-bottom: 1px solid #bbb;
}

#webDesign {
	border-top: 0.5em solid #22408c;
	border-bottom: 0.5em solid #d72;
	clear: both;
}

#applicationDevelopment {
	border-top: 0.5em solid #d72;
	border-bottom: 0.5em solid #222;
	clear: both;
}

#databasing {
	border-top: 0.5em solid #19a422;
	border-bottom: 0.5em solid #D02420;
	clear: both;
}

#contact {
	border-top: 0.5em solid #D02420;
	border-bottom: 0.5em solid #222;
}


footer.main {
	color: #eee;
	background-color: #222;
	height: 3em;
	text-align: center;
	padding: 1.5em;
}


@media(max-width: 82em) {
	.pad {
		padding: 1em;
	}
	.separator {
		width: 80%;
	}
}

.browser {
	margin-bottom: -0.15em;
	height: 1em;
	display: inline-block;
	top: 0.5em;
}

.browserText {
	top: -1em;
}


.portfolio .application h3 {
	padding: 0;
	margin: 0;
}

.portfolio .example, .portfolio .application {
	position: relative;
	width: 100%;
	margin-top: 1em;
	background: transparent;
	display: inline-block;
	margin-bottom: 1em;
	border: 1px solid #aaa;
	vertical-align: top;
}

.portfolio .application {
	border: none;
}

.portfolio .application .example:not([href]) {
	cursor:not-allowed;
}

.portfolio .example .cover {
	width: 100%;
	height: 100%;
	position: absolute;
	display:block;
	z-index: 1;
	text-align: center;
	color: rgba(255,255,255, 0);
	background: rgba(50,50,50, 0);
	padding: 0;

	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

.portfolio .example .cover span {
	position: absolute;
	left: -100%;
	right: -100%;
	top: 50%;
	bottom: 50%;
	display: none;
}

.portfolio .example:hover .cover {
	background: rgba(50,50,50, 0.5);
	color: rgba(255,255,255, 1);
}

.portfolio .example:hover .cover span {
	display: block;
}

.portfolio .example img {
	z-index: 0;
	width: 100%;
}

@media(min-width: 35em) {
	.portfolio > .example, .portfolio .application {
		width: 47.5%;
		margin: 1em auto;
	}

	.portfolio > .example:nth-child(2n+1), .portfolio .application:nth-child(2n+1) {
		float: none;
		margin-left: 3%;
		clear: right;
	}
	.portfolio > .example:nth-child(2n), .porfolio .application:nth-child(2n) {
		float: left;
		margin-left: 0;
		clear: left;
	}
}


@media(min-width: 65em) {
	.portfolio > .example, .portfolio .application {
		width: 30%;
	}
	.portfolio > .example:nth-child(3n+2), .portfolio .application:nth-child(3n+2) {
		float: none;
		margin-left: 0;
		clear: left;
	}
	.portfolio > .example:nth-child(3n+1), .portfolio .application:nth-child(3n+1) {
		float: none;
		margin-left: 3.5%;
		clear: right;
	}
	.portfolio > .example:nth-child(3n), .portfolio .application:nth-child(3n) {
		float: none;
		margin-left: 3.5%;
	}
}

.hasTitle {
	cursor: default;
	font-weight: bold;
	font-style: italic;
}

.philosophy {
	font-size: 1.5em;
	width: 30em;
	max-width: 100%;
	margin: auto;
}

.icons a {
	text-decoration: none;
}

.icon {
	width: 2em;
}

.icon.small {
	margin-bottom: -0.15em;
	height: 1em;
	width: auto;
}

.iconContainer {
	margin-bottom: 0.5em;
}